# Ansible Vault & secrets
inventory/group_vars/all/vault.yml
inventory/group_vars/all/vault.yml.REAL_BACKUP
.vault_pass
*.vault_pass

# Ansible
*.retry
logs/
*.log

# Python
__pycache__/
*.pyc
.env

# OS
.DS_Store
Thumbs.db
inventory/group_vars/all/vault.yml.REAL_BACKUP*
