
# =============================================================================
# PostgreSQL — Backend database cho Grafana & Gitea
# =============================================================================

services:
  postgresql:
    image: postgres:{{ postgres_version }}
    container_name: postgresql
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_USER: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - {{ postgres_data_path }}:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "{{ postgres_port }}:5432"
    shm_size: '256mb'
    labels:
      monitoring: "true"
      component: "postgresql"
