apiVersion: 1

# Auto-detected datasources based on inventory groups
datasources:
  {%- if grafana_detected_datasources.prometheus %}
  - name: VictoriaMetrics
    uid: "victoriametrics-main"
    type: prometheus
    access: proxy
    url: "{{ grafana_vmselect_endpoints[0] | default('http://vmagent:9428') }}"
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "{{ vmagent_scrape_interval }}"
      httpMethod: POST
      queryTimeout: "60s"
  {%- endif %}

  {%- if grafana_detected_datasources.loki %}
  - name: Loki
    uid: "loki-main"
    type: loki
    access: proxy
    url: "{{ grafana_loki_endpoints[0] | default('http://loki:3100') }}"
    isDefault: false
    editable: false
    jsonData:
      maxLines: 5000
      timeout: "60"
  {%- endif %}

  {%- if grafana_detected_datasources.thanos %}
  - name: Thanos
    uid: "thanos-main"
    type: prometheus
    access: proxy
    url: "{{ grafana_thanos_endpoints[0] | default('http://thanos-query:10902') }}"
    isDefault: false
    editable: false
    jsonData:
      timeInterval: "1m"
      httpMethod: POST
      queryTimeout: "300s"
  {%- endif %}

  {%- if grafana_detected_datasources.alertmanager %}
  - name: Alertmanager
    uid: "alertmanager-main"
    type: alertmanager
    access: proxy
    url: "http://{{ vip_address }}:{{ alertmanager_port }}"
    isDefault: false
    editable: false
    jsonData:
      implementation: prometheus
  {%- endif %}
