services:
  blackbox:
    image: prom/blackbox-exporter:latest
    container_name: blackbox-random-ping
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_RAW
    volumes:
      - ./blackbox.yml:/etc/blackbox_exporter/config.yml:ro
    command:
      - '--config.file=/etc/blackbox_exporter/config.yml'
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
